@use "sass:math";

.mv {
  width: 100%;
  height: 100%;
  color: white;
  position: relative;
  overflow: hidden;
  &_view {
    width: 100%;
    z-index: 2;
    @include mq(m){
      width: 98%;
    }
  }
  &_title {
    flex-direction: column;
    margin: 0 auto;
    width: max-content;
    font-size: get_vw(50px, xxl);
    @include mq(m){
      font-size: get_vw(62px, m);
    }
    span {
      display: inline-block;
    }
    .line {
      line-height: 1.4;
      position: relative;
      overflow: hidden;
      &:after {
        width: 100%;
        height: 5px;
        background: white;
        content: "";
        position: absolute;
        left: -100%;
        bottom: 0;
        transition: 0.5s left var(--transition) 1s;
      }
      &.u_anime-start {
        &:after {
          left: 0;
        }
      }
    }

    .flame {
      position: relative;
      color: var(--main-color);
      padding-left: get_vw(15px, xxl);
      padding-right: get_vw(15px, xxl);
      margin-left: get_vw(15px, xxl);
      margin-right: get_vw(15px, xxl);
      overflow: hidden;
      vertical-align: middle;
      &:after {
        background: white;
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
        left: -100%;
        top: 0;
        z-index: 1;
        transition: 0.5s left var(--transition) 1s;
      }
      span {
        display: inline-block;
        position: relative;
        z-index: 2;
      }
      &.u_anime-start {
        &:after {
          left: 0;
        }
      }
    }
    .border {
      position: relative;
      -webkit-text-stroke: 1px #FFF;
      text-stroke: 1px #FFF;
      color: var(--main-color);
      margin-left: get_vw(15px, xxl);
      margin-right: get_vw(15px, xxl);
      &__parent {
        position: relative;
        z-index: 2;
      }
      &__clone {
        width: 100%;
        position: absolute;
        right: get_vw(-20px, xxl);
        top: get_vw(-6px, xxl);
        z-index: 1;
      }
    }
  }
}
.floating{
  display: block;
  z-index: 99;
  position: fixed;
  right: 0;
  bottom: 0;
  width: get_vw(430px, xxl);
  @include mq(m){
    width: 100%;
  }
  &:hover {
    span {
      &.on {
        opacity: 1;
      }
      &.off {
        opacity: 0;
      }
    }
  }
  span {
    display: block;

    &.on {
      opacity: 0;
      position: absolute;
      right: 0;
      bottom: 0;
    }
    &.off {
      opacity: 1;
    }
  }
}
.indexEvent {
  overflow: hidden;
  color: white;
  padding-bottom: get_vw(200px, xxl);
  @include mq(m){
    padding-bottom: get_vw(320px, m);
  }
}
.indexInfo {
  overflow: hidden;
  color: white;
  padding-top: get_vw(160px, xxl);
  padding-bottom: get_vw(170px, xxl);
  position: relative;
  @include mq(m){
    padding-top: get_vw(150px, m);
    padding-bottom: get_vw(150px, m);
  }
  &_flow {
    font-size: get_vw(80px, xxl);
    color: var(--bg-color);
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    @include mq(m){
      font-size: get_vw(80px, m);
    }
    span {
      display: inline-block;
      margin-right: get_vw(20px, xxl);
      transition: all 0.5s var(--transition);
    }
    &__bottom {
      top: auto;
      bottom: 0;
    }
  }
  &_list {
    justify-content: flex-end;
    margin-bottom: get_vw(100px, xxl);
    @include mq(m){
      flex-direction: column;
      justify-content: inherit;
      margin-bottom: get_vw(100px, m);
    }
    &-item {
      margin-left: get_vw(50px, xxl);
      height: get_vw(260px, xxl);
      position: relative;
      width: max-content;
      @include mq(m){
        height: get_vw(350px, m);
        margin-bottom: get_vw(70px, m);
      }
      &:last-child {
        margin-right: get_vw(20px, xxl);
        @include mq(m){
          margin-left: auto;
          margin-right: get_vw(30px,m);
          margin-bottom:0;
        }
      }
      &:after {
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        position: absolute;
        right: get_vw(-20px, xxl);
        bottom: get_vw(-20px, xxl);
        z-index: 1;
        content: "";
        @include mq(m){
          right: get_vw(-30px, m);
          bottom: get_vw(-30px, m);
        }
      }
      img {
        width: auto;
        height: 100%;
        position: relative;
        z-index: 2;
      }
    }
  }
  &_text {
    font-size: get_vw(22px, xxl);
    margin-bottom: get_vw(25px, xxl);
    @include mq(m){
      font-size: get_vw(48px, m);
      margin-bottom: get_vw(50px, m);
    }
  }
  &_character {
    width: get_vw(110px, xxl);
    position: absolute;
    bottom: 0;
    right: get_vw(150px, xxl);
    @include mq(m){
      display: none;
    }
  }
}
.indexOnline {
  padding-top: get_vw(80px, xxl);
  padding-bottom: get_vw(120px, xxl);
  position: relative;
  color: white;
  overflow: hidden;
  @include mq(m){
    padding-top: get_vw(90px, m);
    padding-bottom: get_vw(100px, m);
  }
  &_layout {
    align-items: center;
    @include mq(m){
      flex-direction: column;
      align-items: inherit;
    }
  }
  &_images {
    width: get_vw(350px, xxl);
    position: relative;
    @include mq(m){
      width: get_vw(470px, m);
      margin-bottom:get_vw(140px, m);
    }
    &:after {
      width: 100%;
      height: 100%;
      background: var(--bg-color);
      position: absolute;
      right: get_vw(-20px, xxl);
      bottom: get_vw(-20px, xxl);
      z-index: 1;
      content: "";
      @include mq(m){
        right: get_vw(-30px, m);
        bottom: get_vw(-30px, m);
      }
    }
    img {
      position: relative;
      z-index: 2;
    }
  }
  &_view {
    padding-left: get_vw(100px, xxl);
    padding-right: get_vw(150px, xxl);
    width:calc(100% - #{get_vw(350px, xxl)} ) ;
    @include mq(m){
      width: get_vw(816px, m);
      margin: 0 auto;
      padding-left: 0;
      padding-right: 0;
    }
  }
  &_title {
    font-size: get_vw(60px, xxl);
    margin-bottom: get_vw(30px, xxl);
    @include mq(m){
      font-size: get_vw(120px, m);
      margin-bottom: get_vw(50px, m);
    }
  }
  &_text {
    p {
      margin-bottom: get_vw(40px, xxl);
      @include mq(m){
        margin-bottom: get_vw(80px, m);
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.indexCompany {
  padding-top: get_vw(180px, xxl);
  padding-bottom: get_vw(180px, xxl);
  overflow: hidden;
  position: relative;
  @include mq(m){
    padding-top: get_vw(180px, m);
    padding-bottom: get_vw(180px, m);
  }
  &_body {
    position: relative;
    z-index: 4;
  }
  &_flow {
    color: #F7F7F7;
    z-index: 1;
    position: absolute;
    font-size: get_vw(118px, xxl);
    width: get_vw(80px, xxl);
    top: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    @include mq(m){
      font-size: get_vw(118px, m);
      width: get_vw(80px, m);
    }
    &__up {
      left: get_vw(180px, xxl);
      @include mq(m){
        left: 0;
      }
    }
    &__down{
      right: get_vw(180px, xxl);
      @include mq(m){
        right: 0;
      }
    }
    span {
      display: block;
    }
  }
  &_table {
    border: 1px solid black;
    background: #F8F8F8;
    border-radius: 6px;
    font-size: get_vw(14px, xxl);
    position: relative;
    z-index: 3;
    @include mq(m){
      font-size: get_vw(28px, m);
    }
    dl {
      padding-top: get_vw(30px, xxl);
      padding-right: get_vw(40px, xxl);
      padding-bottom: get_vw(30px, xxl);
      padding-left: get_vw(40px, xxl);
      border-bottom: 1px solid black;
      align-items: center;
      @include mq(m){
        padding: get_vw(40px, m);
      }
      &:last-child {
        border-bottom: none;
      }
      dt {
        width: get_vw(100px, xxl);
        @include mq(m){
          width: get_vw(170px, m);
        }
      }
      dd {
        width:calc(100% - #{get_vw(100px, xxl)} ) ;
        @include mq(m){
          width:calc(100% - #{get_vw(170px, m)} ) ;
        }
        .large {
          font-size: get_vw(22px, xxl);
          @include mq(m){
            font-size: get_vw(40px, m);
          }
        }
        p {
          margin-bottom: get_vw(15px, xxl);
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    a {
      align-items: center;
      transition: 0.5s all var(--transition);
      &:hover {
        color: var(--main-color);
        .p_arrow {
          background: var(--main-color);
          i {
          }
        }
      }
      > span {
        margin-right: get_vw(15px, xxl);
      }
      i {
        margin-top: 0;
      }
    }
  }
}
.indexVoice {
  padding-top: get_vw(170px, xxl);
  padding-bottom: get_vw(170px, xxl);
  background-image: url("./../../../resources/assets/images/components/bg.gif");
  background-repeat: repeat;
  background-size: 90px;
  @include mq(m){
    padding-top: get_vw(170px, m);
    padding-bottom: get_vw(170px, m);
  }
  &_text {
    color: white;
    span {
      background-image: linear-gradient(#ffffff, #ffffff);
      background-position: left 100%;
      background-size: 100% 4px;
      background-repeat: no-repeat;
    }
    &__large {
      font-size: get_vw(39px, xxl);
      margin-bottom: get_vw(90px, xxl);
      @include mq(m){
        font-size: get_vw(78px, m);
        margin-bottom: get_vw(120px, m);
      }
    }
    &__regular {
      font-size: get_vw(30px, xxl);
      margin-bottom: get_vw(110px, xxl);
      @include mq(m){
        font-size: get_vw(60px, m);
        margin-bottom: get_vw(120px, m);
      }
      span {
        background-size: 100% 3px;
      }
    }
    &__small {
      font-size: get_vw(19px, xxl);
      width: get_vw(515px, xxl);
      margin-left: auto;
      @include mq(m){
        width: get_vw(590px, m);
        font-size: get_vw(37px, m);
        margin-bottom: get_vw(120px, m);
      }
      span {
        background-size: 100% 2px;
      }
    }
    &__small2 {
      font-size: get_vw(23px, xxl);
      margin-bottom: get_vw(110px, xxl);
      @include mq(m){
        font-size: get_vw(46px, xxl);
        margin-bottom: get_vw(110px, xxl);
      }
      span {
        background-size: 100% 2px;
      }
    }
    &__Xlaege {
      margin: 0 auto;
      width: get_vw(785px, xxl);
      font-size: get_vw(46px, xxl);
      justify-content: center;
      @include mq(m){
        font-size: get_vw(92px, xxl);
        width: 100%;
      }
    }
  }
}