.p {
  &_mark {
    font-size: get_vw(700px, xxl);
    color: var(--bg-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(0);
    z-index: 1;
    &__left {
      left: get_vw(-200px, xxl);
    }
    &__right {
      right: get_vw(-100px, xxl);
    }
  }
}