.c_hamburger {
  display: none;
  @include mq(m) {
    display:block;
    width: 40px;
    height: 17px;
  }
  &[aria-expanded="true"] {
    .c_hamburger {
      &-list {
        &-item {
          background: black;
          &:first-child {
            transform: rotate(15deg);
            top: 10px;
          }
          &:nth-child(2) {
            width: 0;
          }
          &:last-child {
            transform: rotate(-15deg);
            top: -2px;
          }
        }
      }
    }
  }
  &-list {
    position: relative;
    @include mq(m) {
    }
    &-item {
      background: black;
      height: 1px;
      width: 100%;
      margin: 0 0 5px 0;
      transition: 0.5s all var(--transition);
      position: relative;
      &:first-child {
        transform: rotate(0);
      }
      &:last-child {
        margin: 0;
      }
    }
  }
}

@include mq(m) {
  body {
    &.__isActive {
      overflow: hidden;
    }
  }
}
