.c {
  &_header {
    top: 0;
    left: 0;
    width: 100%;
    position:fixed;
    z-index: 99;
    min-width: 1020px;
    @include mq(m){
      min-width: inherit;
    }
    &-body {
      align-items: center;
      padding: 0 40px 0 25px;
      background: white;
      @include mq(m){
        padding: 30px;
      }
    }
    &-logo {
      margin-right: auto;
      align-items: center;
      &-link {
        display: block;
        width: 128px;
        margin: 0 20px 0 0;
        @include mq(m){
          width: 90px;
        }
      }
      &-name {
        display: block;
        font-size: 12px;
        @include mq(m){
          font-size: 10px;
        }
      }
    }
    &-navigation {
      margin-left: auto;
    }
    &-conversion {
      background: var(--main-color);
      padding: 20px 40px 20px 20px;
      @include mq(m){
        opacity: 0;
        pointer-events:  none;
        position: fixed;
        width: 100%;
        left: 0;
        top: 84px;
        transition: 0.5s all var(--transition);
        &[aria-expanded="true"] {
          opacity: 1;
          pointer-events: auto;
        }
      }
      &-list {
        justify-content: end;
        @include mq(m){
          justify-content: center;
        }
        &-item {
          margin: 0 0 0 30px;
          @include mq(m){
            margin: 0 0 0 20px;
            &:first-child {
              margin: 0;
            }
          }
          a {
            color: white;
            @include mq(m){
              font-size: 17px;
            }
          }
        }
      }
    }
  }
}
