@use "sass:math";

.mv {
  width: 100%;
  height: 100%;
  color: white;
  position: relative;
  overflow: hidden;
  &_title {
    width: 100%;
    font-size: get_vw(50px, xxl);
    z-index: 2;
    .line {
      border-bottom: 5px solid white;
    }
    .flame {
      background: white;
      color: var(--main-color);
      padding-left: get_vw(15px, xxl);
      padding-right: get_vw(15px, xxl);
      margin-left: get_vw(15px, xxl);
      margin-right: get_vw(15px, xxl);
    }
    .border {
      position: relative;
      -webkit-text-stroke: 1px #FFF;
      text-stroke: 1px #FFF;
      color: var(--main-color);
      &__parent {
        position: relative;
        z-index: 2;
      }
      &__clone {
        width: 100%;
        position: absolute;
        right: -4px;
        top: -16px;
        z-index: 1;
      }
    }
  }
  &_mark {
    font-size: get_vw(700px, xxl);
    color: var(--bg-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(0);
    z-index: 1;
    &__left {
      left: get_vw(-200px, xxl);
    }
    &__right {
      right: get_vw(-100px, xxl);
    }
  }
}
.floating{
  display: block;
  z-index: 99;
  position: fixed;
  right: 0;
  bottom: 0;
  width: get_vw(430px, xxl);
}
.indexEvent {
  overflow: hidden;
  color: white;
  padding-bottom: get_vw(200px, xxl);
}
.indexInfo {
  overflow: hidden;
  color: white;
  padding-top: get_vw(160px, xxl);
  padding-bottom: get_vw(170px, xxl);
  position: relative;
  &_flow {
    font-size: get_vw(80px, xxl);
    color: var(--bg-color);
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    span {
      display: inline-block;
      margin-right: get_vw(20px, xxl);
      transition: all 0.5s var(--transition);
    }
    &__bottom {
      top: auto;
      bottom: 0;
    }
  }
  &_list {
    justify-content: flex-end;
    margin-bottom: get_vw(100px, xxl);
    &-item {
      margin-left: get_vw(50px, xxl);
      height: get_vw(260px, xxl);
      position: relative;
      &:last-child {
        margin-right: get_vw(20px, xxl);
      }
      &:after {
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        position: absolute;
        right: get_vw(-20px, xxl);
        bottom: get_vw(-20px, xxl);
        z-index: 1;
        content: "";
      }
      img {
        width: auto;
        height: 100%;
        position: relative;
        z-index: 2;
      }
    }
  }
  &_text {
    font-size: get_vw(22px, xxl);
    margin-bottom: get_vw(25px, xxl);
  }
  &_character {
    width: get_vw(110px, xxl);
    position: absolute;
    bottom: 0;
    right: get_vw(150px, xxl);
  }
}
.indexOnline {
  padding-top: get_vw(80px, xxl);
  padding-bottom: get_vw(120px, xxl);
  position: relative;
  color: white;
  overflow: hidden;
  &_layout {
    align-items: center;
  }
  &_images {
    width: get_vw(350px, xxl);
    position: relative;
    &:after {
      width: 100%;
      height: 100%;
      background: var(--bg-color);
      position: absolute;
      right: get_vw(-20px, xxl);
      bottom: get_vw(-20px, xxl);
      z-index: 1;
      content: "";
    }
    img {
      position: relative;
      z-index: 2;
    }
  }
  &_view {
    padding-left: get_vw(100px, xxl);
    padding-right: get_vw(150px, xxl);
    width:calc(100% - #{get_vw(350px, xxl)} ) ;
  }
  &_title {
    font-size: get_vw(60px, xxl);
    margin-bottom: get_vw(30px, xxl);
  }
  &_text {
    p {
      margin-bottom: get_vw(40px, xxl);
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.indexCompany {
  padding-top: get_vw(180px, xxl);
  padding-bottom: get_vw(180px, xxl);
  overflow: hidden;
  position: relative;
  &_flow {
    color: #F7F7F7;
    z-index: 1;
    position: absolute;
    font-size: get_vw(118px, xxl);
    width: get_vw(80px, xxl);
    top: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    &__up {
      left: get_vw(180px, xxl);
    }
    &__down{
      right: get_vw(180px, xxl);
    }
    span {
      display: block;
    }
  }
  &_headline {
    text-align: center;
    margin-bottom: get_vw(120px, xxl);
    span {
      color: white;
      display: inline-block;
      background: black;
      font-size: get_vw(32px, xxl);
      padding-top: get_vw(15px, xxl);
      padding-right: get_vw(20px, xxl);
      padding-bottom: get_vw(15px, xxl);
      padding-left: get_vw(20px, xxl);
    }
  }
  &_table {
    border: 1px solid black;
    background: #F8F8F8;
    border-radius: 6px;
    font-size: get_vw(14px, xxl);
    dl {
      padding-top: get_vw(30px, xxl);
      padding-right: get_vw(40px, xxl);
      padding-bottom: get_vw(30px, xxl);
      padding-left: get_vw(40px, xxl);
      border-bottom: 1px solid black;
      &:last-child {
        border-bottom: none;
      }
      dt {
        width: get_vw(100px, xxl);
      }
      dd {
        width:calc(100% - #{get_vw(100px, xxl)} ) ;
        .large {
          font-size: get_vw(22px, xxl);
        }
        p {
          margin-bottom: get_vw(15px, xxl);
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    a {
      align-items: center;
      > span {
        margin-right: get_vw(15px, xxl);
      }
    }
  }
}
.indexVoice {
  padding-top: get_vw(170px, xxl);
  padding-bottom: get_vw(170px, xxl);
  background-image: url("./../../../resources/assets/images/components/bg.gif");
  background-repeat: repeat;
  background-size: 90px;
  &_text {
    color: white;
    span {
      background-image: linear-gradient(#ffffff, #ffffff);
      background-position: left 100%;
      background-size: 100% 4px;
      background-repeat: no-repeat;
    }
    &__large {
      font-size: get_vw(39px, xxl);
      margin-bottom: get_vw(90px, xxl);
    }
    &__regular {
      font-size: get_vw(30px, xxl);
      margin-bottom: get_vw(110px, xxl);
      span {
        background-size: 100% 3px;
      }
    }
    &__small {
      font-size: get_vw(19px, xxl);
      width: get_vw(515px, xxl);
      margin-left: auto;
      span {
        background-size: 100% 2px;
      }
    }
    &__small2 {
      font-size: get_vw(23px, xxl);
      margin-bottom: get_vw(110px, xxl);
      span {
        background-size: 100% 2px;
      }
    }
    &__Xlaege {
      margin: 0 auto;
      width: get_vw(785px, xxl);
      font-size: get_vw(46px, xxl);
      justify-content: center;
    }
  }
}