.p_button {
  position: relative;
  width: 100%;
  display: block;
  border: 2px solid white;
  padding-top: get_vw(35px, xxl);
  padding-right: get_vw(40px, xxl);
  padding-bottom: get_vw(35px, xxl);
  padding-left: get_vw(40px, xxl);
  &-text {
    display: block;
    text-align: center;
    font-size: get_vw(20px, xxl);
  }
  &-arrow{
    position: absolute;
    right: get_vw(40px, xxl);
    top: 50%;
    transform: translateY(-50%) translateX(0);
    i {
      margin-top: get_vw(1px, xxl);
      color: var(--main-color);
      font-size: get_vw(8px, xxl);
    }
  }
}
