.p_button {
  position: relative;
  width: 100%;
  display: block;
  border: 2px solid white;
  padding-top: get_vw(35px, xxl);
  padding-right: get_vw(40px, xxl);
  padding-bottom: get_vw(35px, xxl);
  padding-left: get_vw(40px, xxl);
  transition: 0.5s all var(--transition);
  background: var(--main-color);
  color: white;
  @include mq(m){
    padding-top: get_vw(70px, m);
    padding-right: get_vw(50px, m);
    padding-bottom: get_vw(70px, m);
    padding-left: get_vw(50px, m);
  }
  &:hover {
    background: white;
    color: var(--main-color);
    .p_button-arrow {
      background: var(--main-color);
      i {
        color: white;
      }
    }
  }
  &-text {
    display: block;
    text-align: center;
    font-size: get_vw(20px, xxl);
    @include mq(m){
      font-size: get_vw(40px, m);
    }
  }
  &-arrow{
    position: absolute;
    right: get_vw(40px, xxl);
    top: 50%;
    transform: translateY(-50%) translateX(0);
  }
}
