footer.c_footer.u_bg
  div.t_inner.c_footer-body
    p.c_footer-headline.u_weight900.u_lineHeight18
      | 中京テレビ
      br
      | オープンカンパニー
    div.p_eventText.t_flex
      p.u_weight900
        |イベントの予約は
        br.u_md
        |「中京テレビLINEアカウント」から！
      div.p_eventText-images.u_desktop
        +img(`${_RESOURCES}assets/images/index/character_1.png`, `チュウキョ～くん`)

    a.p_button.c_footer-button(href="https://page.line.me/764tntod?openQrModal=true" target="_blank")
      span.p_button-text.u_weight900 イベント予約はこちら
      span.p_button-arrow.p_arrow
        i.icon-arrow.t_floater
    div.p_eventText.t_flex
      p.u_weight900 中京テレビ公式採用SNSでも採用情報を発信中！
    ul.c_footer-list.t_flex
      li.c_footer-list-item.t_Montserrat.u_letter-spacing100
        a(href="https://twitter.com/i/flow/login?redirect_after_login=%2FchukyoTV_saiyo" target="_blank") Twitter
      li.c_footer-list-item.t_Montserrat.u_letter-spacing100
        a(href="https://www.instagram.com/chukyo_tv.saiyo/" target="_blank") instagram
  small.c_footer-copy © 中京テレビ
  p.p_mark.p_mark__left.t_Montserrat ?
  p.p_mark.p_mark__right.t_Montserrat !


